.active-color {
  color: #000 !important;
  font-style: italic;
}

.active-res {
  color: #000;
}

.alert {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 25%;
}

.form {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shake {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em red !important;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 320px) {
  .form {
    width: 100% !important;
  }
}
